= render 'commons/header', title: 'フォロー中'

.container
  .follow
    - @followings.each do |following|
      .follow__item
        .follow__left
          = link_to account_path(following.id) do
            = display_profile_avatar(following.profile, 'follow__avatar')
        .follow__right
          = link_to account_path(following.id), class: 'follow__account' do
            = following.account