= render 'commons/header', title: 'フォロー中'

.container
  = render 'commons/aside'
  .user
    - @followings.each do |following|
      .user__item
        .user__left
          = link_to account_path(following.id) do
            = display_profile_avatar(following.profile, 'user__avatar')
        .user__right
          = link_to account_path(following.id), class: 'user__account' do
            = following.account
    - if @followings.empty?
      %p フォロー中のユーザーはいません
  = paginate @followings