%header.header
  .container
    .header__container
      = link_to :back do
        %span.arrow-left
      -# ページごとにtitle分ける
      %h1.header__title
        = title
      .header__right
        %i.fa-solid.fa-ellipsis.fa-lg.header__tab
          %nav.header__nav
            .header__nav-link
              = link_to 'ホーム', posts_path
            .header__nav-link
              = link_to '新規投稿', new_post_path
            .header__nav-link
              = link_to 'プロフィール'
            .header__nav-link
              = link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトして宜しいですか？' }
            

- if flash.present?
  .flash.flash--fadeout
    - flash.each do |key, value|
      %div{:class => key}= value

      