- if user_signed_in?
  %i.fa-solid.fa-ellipsis.fa-lg.header__tab
    %nav.header__nav
      .header__nav-item
        = link_to posts_path, class: 'header__nav-link' do
          %i.fa-solid.fa-house
          %p ホーム
      .header__nav-item
        = link_to timeline_path, class: 'header__nav-link' do
          %i.fa-solid.fa-user-group
          %p タイムライン
      .header__nav-item
        = link_to new_post_path, class: 'header__nav-link' do
          %i.fa-solid.fa-plus
          %p 新規投稿
      .header__nav-item
        = link_to profile_path, class: 'header__nav-link' do
          %i.fa-solid.fa-user
          %p プロフィール
      .header__nav-item
        = link_to searches_path, class: 'header__nav-link' do
          %i.fa-solid.fa-magnifying-glass
          %p ユーザー検索
      .header__nav-item
        = link_to favorites_path, class: 'header__nav-link' do
          %i.fa-solid.fa-heart
          %p いいね一覧
      .header__nav-item
        = link_to destroy_user_session_path, class: 'header__nav-link', method: :delete, data: { confirm: 'ログアウトして宜しいですか？' } do
          %i.fa-solid.fa-right-to-bracket
          %p ログアウト