.post__head
  = link_to account_path(post.user) do
    = user_avatar(post)
  = link_to account_path(post.user) do
    = post.user.account
  - if my_post?(current_user, post)
    %i.fa-regular.fa-pen-to-square.post__tab
      %ul.post__nav
        %li.post__nav-item
          = link_to '編集', edit_post_path(post), class: 'post__nav-link'
        %li.post__nav-item
          = link_to '削除', post_path(post), method: :delete, data: { confirm: '削除して宜しいですか？' }, class: 'post__nav-link'

= link_to post_path(post), class: 'post__image' do
  = image_tag post.image
.post__btn-container
  .like
    - if current_user.has_liked?(post)
      = link_to post_like_path(post), method: :delete do
        = image_tag 'like.png'
    - else
      = link_to post_like_path(post), method: :post do
        = image_tag 'un-like.png'
  .post__count= likes_count(post)
  = link_to  image_tag('comment.png'), new_post_comment_path(post)
  .post__count= comments_count(post)
  = link_to image_tag('share.png'), 'https://twitter.com/share?'
%h2.post__title
  = post.title
%p.post__content
  = post.content