.container#account-show{data: {user_id: user.id, }}
  = render 'commons/aside'
  .profile
    = display_profile_avatar(profile, 'profile__avatar')
    %p.profile__name
      = profile&.name
      - if @user == current_user && profile&.name&.empty? && profile&.bio&.empty?
        %p 名前・自己紹介が未設定です。
    %p.profile__bio
      = profile&.bio

  - if @user == current_user
    .profile__btn
      = link_to '編集', edit_profile_path , class: 'profile__link profile__link--unfollow'
  - else
    .profile__btn.profile__btn--follow
      .profile__link.profile__link--unfollow.profile__link--unfollow-js.hidden
        フォロー解除
      .profile__link.profile__link--follow.profile__link--follow-js.hidden
        フォロー

  .profile__parameter-container
    .profile__parameter
      .profile__parameter-number
        = @user.posts.count
      %p.profile__parameter-name 投稿
    = link_to account_followers_path(user), class: 'profile__parameter' do
      .profile__parameter-number
        %p.profile__parameter-number-js
          = @user.follower.count
        %p.profile__parameter-name フォロワー
    = link_to account_followings_path(user), class: 'profile__parameter' do
      .profile__parameter-number
        = @user.followings.count
      %p.profile__parameter-name フォロー中

  .profile__post-container
    - posts.each do |post|
      = link_to post_path(post) do
        = image_tag post.image, class: 'profile__post'
  - if posts.empty?
    %p LIFEHACKで初めての投稿をしてみましょう!

  = paginate posts


  = javascript_pack_tag 'follow'