= render 'commons/header', title: 'ログイン'

.container
  .login-form
    = login-form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .login-form__item
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'login-form__field'
      .login-form__item
        = f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード',class: 'login-form__field'
      %button.login-form__button.button-primary
        = f.submit "ログイン"


