= render 'commons/header', title: '検索'

.container
  = search_form_for @q,url:searches_path do |f|
    = f.search_field :title_or_content_cont,required: true
    = f.submit "投稿検索"

  - if @posts.present?
    .post
      - @posts.each do |post|
        .post__item
          = render 'commons/post', post: post
  - elsif @posts == [] && @q.conditions.present?
    %p 検索結果がありません。
  - else
    %p 検索キーワードを入力してください。

