= render 'commons/header', title: 'ユーザー検索'

.container
  = search_form_for @q,url:searches_path do |f|
    .search-form
      .search-form__item
        = f.search_field :account_or_email_or_profile_name_cont,required: true, placeholder: '名前・アカウント・メールアドレス', class: 'search-form__field'
      %button.button-primary.search-form__button
        = f.submit "検索"

  - if @users.present?
    .user
    - @users.each do |user|
      .user__item
        .user__left
          = link_to account_path(user.id) do
            = display_profile_avatar(user.profile, 'user__avatar')
        .user__right
          = link_to account_path(user.id), class: 'user__account' do
            = user.account
  - elsif @users == [] && @q.conditions.present?
    %p 検索結果がありません。
  - else
    %p 検索キーワードを入力してください。