%ul
  - @post.errors.full_messages.each do |message|
    %li= message
    
= render 'commons/header', title: '編集'

= form_with(model: @post, local: true) do |f|
  .login-form__item
    = f.text_field :title, autofocus: true, placeholder: 'タイトル', class: 'login-form__field'
  .login-form__item
    = f.text_area :content, autofocus: true, placeholder: '投稿内容', class: 'login-form__field'
  %button.login-form__button.button-primary
    = f.submit "変更する"