= render 'commons/header', title: 'LIFEHACK'



- @posts.each do |post|
  = post.title
  = post.content
  = display_post_image(post)

= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { confirm: 'ログアウトして宜しいですか？' }
