= render 'commons/header', title: 'LIFEHACK'

.container
  .post
    = render 'post', post: @post

  = link_to new_post_comment_path(@post) do
    %button.post__comment-btn.button-primary
      %p コメント追加
  
  .comment
    - @comments.each do |comment|
      .comment__item
        - if my_comment?(comment)
          = link_to post_comment_path(@post,comment.id), method: :delete ,data: { confirm: '削除して宜しいですか？' } , class: 'comment__destory-link' do
            %i.fa-regular.fa-circle-xmark
        .comment__left
          = link_to account_path(comment.user_id), class: 'comment__avatar-container' do
            = display_profile_avatar(comment.user.profile, 'comment__avatar')
        .comment__right
          %p.comment__account= comment.user.account
          %p.comment__content= comment.content