!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title LIFEHACK
    = csrf_meta_tags
    = csp_meta_tag
    -# ogp用
    = display_meta_tags(default_meta_tags)
    = if Rails.env.production?
      = favicon_link_tag('favicon.ico')
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    -# Font Awesome
    %script{crossorigin: "anonymous", src: "https://kit.fontawesome.com/ebdd27bd0a.js"}
  %body
    = yield
